# Ignore Gradle project-specific cache directory
.gradle


.settings
.vscode
.classpath
.factorypath
.project

# Ignore Gradle build output directory
build

## keystore
keystore.jks

## yml
application.yml